mixin face
    li.face(style="background-image: url(http://fillmurray.com/80/80);")
        .bubble 
            p Admodum eu duis. Duis occaecat ubi arbitrantur do offendit illum arbitror aut anim 
            cite - Natahn Jacons

section.mentoring
    .flex.flex--center
        .col-1
            ul.faces
             +face        
             +face        
             li.face.has-bubble-open(style="background-image: url(http://fillmurray.com/80/80);")
                .bubble 
                    p DISPLAY Admodum eu duis. Duis occaecat ubi arbitrantur do offendit illum arbitror aut anim 
                    cite - !!Natahn Jacons        
             +face        
             +face        
             +face        
                
        .col-1
            p.home-lead.outdented ...Mentoring people like you..
            a(href="#").home-cta Schedule a call