mixin face(face, words, name)
    li.face(style="background-image: url(#{face});")
        .bubble 
            p #{words}
            cite #{name}

section.mentoring#mentoring
    .flex.flex--center
        .col-1
            ul.faces
             +face("/assets/images/faces/1.jpg","hei","Navn Navesen") 
             +face("/assets/images/faces/2.jpg","hei","Navn Navesen") 
             +face("/assets/images/faces/3.jpg","hei","Navn Navesen") 
             +face("/assets/images/faces/4.jpg","hei","Navn Navesen") 
             +face("/assets/images/faces/5.jpg","hei","Navn Navesen")
             li.back-btn.face
                
        .col-1
            p.home-lead.outdented ...Mentoring people like you..
            a(href="#").home-cta Schedule a call