/* line 1, /Users/miatollaksvik/Desktop/travis/assets/css/3-sections/home-notes.sass */
section.notes {
  background-image: url(../images/notes-bg.jpg);
  background-size: cover;
  background-position: center;
  color: white; }
  /* line 8, /Users/miatollaksvik/Desktop/travis/assets/css/3-sections/home-notes.sass */
  section.notes .home-lead {
    text-align: center; }
  /* line 11, /Users/miatollaksvik/Desktop/travis/assets/css/3-sections/home-notes.sass */
  section.notes .col-1 {
    padding-left: 30px;
    font-size: 18px;
    font-style: italic;
    line-height: 1.8; }
    /* line 17, /Users/miatollaksvik/Desktop/travis/assets/css/3-sections/home-notes.sass */
    section.notes .col-1:first-child {
      padding-left: 0;
      padding-right: 30px;
      text-align: right;
      border-right: solid 2px white; }
    @media (max-width: 640px) {
      /* line 11, /Users/miatollaksvik/Desktop/travis/assets/css/3-sections/home-notes.sass */
      section.notes .col-1 {
        padding: 0 10px; }
        /* line 26, /Users/miatollaksvik/Desktop/travis/assets/css/3-sections/home-notes.sass */
        section.notes .col-1:first-child {
          padding: 0 10px;
          text-align: left;
          border: none; } }
  /* line 31, /Users/miatollaksvik/Desktop/travis/assets/css/3-sections/home-notes.sass */
  section.notes a {
    color: white;
    text-decoration: underline; }
  /* line 35, /Users/miatollaksvik/Desktop/travis/assets/css/3-sections/home-notes.sass */
  section.notes ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  /* line 40, /Users/miatollaksvik/Desktop/travis/assets/css/3-sections/home-notes.sass */
  section.notes p {
    margin: 0; }
  /* line 43, /Users/miatollaksvik/Desktop/travis/assets/css/3-sections/home-notes.sass */
  section.notes .form-display {
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid white;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    margin: 50px 0; }
    @media (max-width: 590px) {
      /* line 43, /Users/miatollaksvik/Desktop/travis/assets/css/3-sections/home-notes.sass */
      section.notes .form-display {
        display: block; } }
  /* line 53, /Users/miatollaksvik/Desktop/travis/assets/css/3-sections/home-notes.sass */
  section.notes .mc-field-group {
    position: relative;
    flex: 2; }
    /* line 57, /Users/miatollaksvik/Desktop/travis/assets/css/3-sections/home-notes.sass */
    section.notes .mc-field-group:first-child {
      border-right: 2px white solid; }
      @media (max-width: 590px) {
        /* line 57, /Users/miatollaksvik/Desktop/travis/assets/css/3-sections/home-notes.sass */
        section.notes .mc-field-group:first-child {
          border-right: none;
          border-bottom: 2px solid white; } }
  /* line 64, /Users/miatollaksvik/Desktop/travis/assets/css/3-sections/home-notes.sass */
  section.notes input {
    position: relative;
    border: 0;
    background: none;
    padding: 0;
    display: block;
    height: 60px;
    width: 100%;
    padding: 0 10px;
    font-size: 18px;
    color: white; }
    /* line 76, /Users/miatollaksvik/Desktop/travis/assets/css/3-sections/home-notes.sass */
    section.notes input:focus {
      outline: none; }
    /* line 79, /Users/miatollaksvik/Desktop/travis/assets/css/3-sections/home-notes.sass */
    section.notes input[type="submit"] {
      flex: 1;
      background: white;
      color: #ba9e44;
      font-size: 24px;
      padding: 0 15px; }
  /* line 87, /Users/miatollaksvik/Desktop/travis/assets/css/3-sections/home-notes.sass */
  section.notes label {
    position: absolute;
    z-index: 2;
    font-size: 12px;
    left: 10px; }

/*# sourceMappingURL=home-notes.css.map */